
<form class="example"  style="margin-bottom:30px;max-width:300px;margin-left:400px;">
  <input type="text" placeholder="Search Mobile here" [(ngModel)]="searchword" name="search2" (keyup.enter)="searchProduct()"> 
  <button type="submit" (click)="searchProduct()"><i class="fa fa-search"></i></button>
</form>

<div class="row ">
  <div class="col-lg-3 ">
    <div class="card mb-3" *ngIf="brandItemsCount">
      <div class="card-header">
        <h3>{{"Categories"|translate }}</h3>
      </div>
      <ul class="list-group flex-row flex-wrap">
        <li class="list-group-item flex-50" *ngFor="let brand of brands">
          <label class="custom-checkbox text-capitalize"> {{brand}} ({{brandItemsCount[brand]}})
            <input type="checkbox" [name]="brand" class="custom-checkbox__input" (input)="onChangeSelectBox($event)" />
            <span class="custom-checkbox__span"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 ">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <app-products [product]="product"></app-products>
      </div>


    </div>
  </div>
</div>
