
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>{{"Patient Details"}}</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> {{"Name"}}</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label> {{"Gender"}}</label>
                      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required"> Gender is required</div>
                      </div>
                  </div>
                    <div class="form-group">
                        <label>{{"Mobile no"|translate }}</label>
                        <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                            <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                            <div *ngIf="f.mobile.errors.pattern">Enter correct mob no</div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label>{{"Email"|translate }}</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"Pincode"|translate }}</label>
                        <input type="text" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                            <div *ngIf="f.pincode.errors.pattern">Enter correct pin code</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"Address"|translate }}</label>
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">address is required</div>
                            <div *ngIf="f.address.errors.minlength">Minimum length is 5</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"City"|translate }}</label>
                        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">city is required</div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{"State"|translate }}</label>
                        <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">address is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button  class="btn btn-primary">{{"Submit"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>