<aside >
  <article class="card-body p-5">
    <h3 class="title mb-3">{{product.title}}</h3>
    <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency"></span>₹<span class="num">{{product.price}}</span>
	</span>
    </p>
    <dl class="item-property">
      <dt>{{"Description"|translate }}</dt>
      <dd><p class="text-capitalize">{{product.description}}</p></dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Brand"|translate }}</dt>
      <dd class="text-capitalize">{{product.brand}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Size"|translate }}</dt>
      <dd>{{product.size}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Camera"|translate }}</dt>
      <dd>{{product.camera}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"CPU"|translate }}</dt>
      <dd>{{product.cpu}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Memory"|translate }}</dt>
      <dd>{{product.memory}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Display"|translate }}</dt>
      <dd>{{product.display}}</dd>
    </dl>
    <dl class="param param-feature">
      <dt>{{"Battery"|translate }}</dt>
      <dd>{{product.battery}}</dd>
    </dl>
    <hr/>
    <button
      (click)="onAddProductToCart()"
      class="btn btn-lg btn-outline-primary text-uppercase"><i
      class="fa fa-shopping-cart"></i> {{"Add to cart"|translate }}
    </button>
  </article>
</aside>